
.category-list {
    -fx-background-color: #d3d3d3;
}

.category-button {
    -fx-background-color: #b9b9b9;
    -fx-font-size: 110%;
}

.selected-category {
    -fx-background-color: #e0e0e0 !important;
}

.list-view-title {
    -fx-font-size: 18px;
}

.pretty-button {
    -fx-background-color: transparent;
}

.product-tile {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, #dddddd, 10, 0.5, 3, 3);
}

.product-tile-hover {
    -fx-effect: dropshadow(gaussian, #e2e2e2, 10, 0.3, 6, 6);
    -fx-scale-x: 103%;
    -fx-scale-y: 103%;
    -fx-scale-z: 103%;
}

.tile-title {
    -fx-font-size: 140%;
}

.tile-price {
    -fx-font-size: 110%;
}
